1 - Internationalization/Starter Project/MyFriend.xcodeproj/project.xcworkspace/xcuserdata
1 - Internationalization/Starter Project/MyFriend.xcodeproj/xcuserdata
3 - Localization/Final Project/MyFriend.xcodeproj/project.xcworkspace/xcuserdata
3 - Localization/Final Project/MyFriend.xcodeproj/xcuserdata
